*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: 15px;
}
body, h1, h2, h3, h4, p, ul, li {
	margin: 0;
}
ul {
	height: fit-content;
	padding: 0;
}
img {
	width: 100%;
	display: block;
}
a {
	text-decoration: none;
	color: #ffffff;
}
a, input, button {
	outline: none;
}
button {
	cursor: pointer;
}
@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Bold.ttf") format("ttf"),
		url("fonts/Montserrat-Bold.woff") format("woff"),
		url("fonts/Montserrat-Bold.woff2") format("woff2");
	font-weight: 700;
}
@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf") format("ttf"),
		url("fonts/Montserrat-Regular.woff") format("woff"),
		url("fonts/Montserrat-Regular.woff2") format("woff2");
}
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
.flex {
	display: flex;
}
.align-center {
	display: flex;
	align-items: center;
}
.justify-space-between {
	display: flex;
	justify-content: space-between;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
}
.button {
	border-radius: 10px;
	border: none;
	overflow: hidden;
}
.header {
	background: #000 url(img/hero.jpg) no-repeat center/cover;
	padding: 2.656rem 0 4.4rem;
	position: relative;
	color: #ffffff;
}
.header::before {
	content: "";
	background: rgba(31, 32, 33, 0.79);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3.5rem;
}
.header__nav>div {
	width: fit-content;
}
.header__logo {
	margin-right: 8rem;
}
.header__menu {
	display: flex;
	align-items: center;
	list-style-type: none;
}
.header__menu-item {
	font-size: 1.2rem;
	margin-right: 5rem;
	position: relative;
}
.header__menu-item::after {
	content: "";
	width: 0;
	height: 3px;
	background-color: #4a1b22;
	position: absolute;
	left: 0;
	bottom: -3px;
	transition: width, 0.3s;
}
.header__menu-item:hover::after {
	width: 100%;
}
.header__phone {
	position: relative;
}
.header__phone::after {
	content: "";
	width: 0;
	height: 3px;
	background-color: #4a1b22;
	position: absolute;
	left: 0;
	bottom: -3px;
	transition: width, 0.3s;
}
.header__phone:hover::after {
	width: 100%;
}
.header__number {
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1.208;
}
.header__text {
	font-size: 1.2rem;
	text-align: right;
}
.header__result {
	font-weight: bold;
	font-size: 2.533rem;
	line-height: 1.21;
}
.goods {
	color: #000;
	padding: 2.466rem 0 3.2rem
}
.goods__sort {
	margin-bottom: 2.533rem;
}
.sort {
	display: flex;
	font-size: 1.2rem;
}
.sort__text {
	font-weight: 700;
	margin-right: 3.2rem;
}
.sort__item {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 5.6rem;
	cursor: pointer;
}
.sort__item::after {
	content: "";
	width: 1rem;
    height: 1rem;
	background: url("img/arrow.svg") no-repeat center;
	position: absolute;
	right: -2rem;
	top: 50%;
	transform: translateY(-50%);
}
.goods__cards {
	margin-bottom: 3rem;
}
.cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	max-width: 25.333rem;
	margin-bottom: 1.8rem;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
.card__image {
	position: relative;
}
.card__discound {
	position: absolute;
	top: 2.1rem;
	left: 2.1rem;
	background: #E62D2D;
	border-radius: 10px;
	color: #ffffff;
	padding: 0.66rem 1.2rem;
}
.card__like {
	width: 46px;
	height: 41px;
	background-image: url("img/like.svg");
	position: absolute;
	top: 2.466rem;
	right: 2.133rem;
	cursor: pointer;
	transition: scale 0.3s;
}
.card__like:hover {
	transform: scale(1.2);
}
.card__like_active {
	background-image: url("img/like-active.svg");
}
.card__info {
	background-color: #F3F3F3;
	padding: 1.933rem;
}
.card__name {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.933rem;
	margin-bottom: 1.466rem;
}
.card__descriptions {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	line-height: 1.25;
	margin-bottom: 1.466rem;
}
.card__descriptions::before {
	content: "";
	background-color: #6EBBD3;
	width: 4px;
	height: 1.733rem;
	margin-right: 1.2rem;
}
.card__number {
	font-size: 1.066rem;
	font-weight: 700;
}
.card__price {
	font-weight: 700;
	font-size: 1.6rem;
}
.card__button {
	width: 100%;
	font-size: 1.15rem;
	font-weight: 700;
	background: #6EBBD3;
	color: #ffffff;
	border: none;
	padding: 1.4rem 0;
	position: relative;
	overflow: hidden;
}
.card__button::before {
	content: "";
	width: 0;
	height: 100%;
	border-radius: 0 0 10px 10px;
	background-color:  #1F2021;
	position: absolute;
	left: 0;
	top: 0;
	transition: width 0.3s;
}
.card__button:hover::before {
	content: "Купить";
	width: 100%;
	padding: 1.4rem 0;
}
.card__feature {
	width: 33%;
}
.goods__button {
	background-color: transparent;
	border: 1px solid #CACACA;
	font-size: 1.05rem;
	padding: 1.6rem 8.6rem;
	display: block;
	margin: 0 auto;
	position: relative;
}
.goods__button::before {
	content: "";
	width: 100%;
	height: 0;
	background-color: #1F2021;
	border-color: #1F2021;
	position: absolute;
	left: 0;
	top: 0;
	transition: height 0.3s;
}
.goods__button:hover::before {
	content: "Показать еще 20";
	padding: 1.6rem 8.6rem;
	color: #ffffff;
	height: 100%;
}
.footer {
	background-color: #1F2021;
	padding: 5.533rem 0 6.133rem;
	color: #ffffff;
}
.footer > .container {
	padding: 0 5.333rem;
}
.footer__title {
	font-size: 3.2rem;
	font-weight: 700;
	margin-bottom: 1.733rem;
}
.footer__text {
	font-size: 1.866rem;
	line-height: 0.912;
}
.form__input {
	font-size: 0.933rem;
	color: #000000;
	border: none;
	border-radius: 10px;
	padding: 1.466rem 6.5rem 1.733rem 2.2rem;
	margin-right: 1.066rem;
}
.form__button {
	font-size: 0.933rem;
	font-weight: 700;
	background-color: #6EBBD3;
	color: #ffffff;
	padding: 1.466rem 5rem 1.733rem;
	position: relative;
}
.form__button::before {
	content: "";
	width: 0;
	height: 100%;
	border-radius: 0 0 10px 10px;
	background-color:  #fff;
	color: #1F2021;
	position: absolute;
	left: 0;
	top: 0;
	transition: width 0.3s;
}
.form__button:hover::before {
	content: "Подписаться";
	width: 100%;
	padding: 1.4rem 0;
}
.form__checkbox-wrap {
	margin-top: 1.6rem;
	position: relative;
}
.form__checkbox {
	display: none;
}
.form__confirm {
	cursor: pointer;
	margin-left: 2rem;
}
.form__confirm::before {
	content: "";
	width: 18px;
	height: 18px;
	background-color: #6EBBD3;
	border-radius: 3px;
	left: 0;
	position: absolute;
	transition: background 0.3s;
}
.form__checkbox:checked + .form__confirm:before{
	background: #6EBBD3 url("img/confirm.svg") no-repeat center;
}
.scroll-up {
	width: 3.933rem;
	height: 3.933rem;
	background-color: #6EBBD3;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: -1.7rem 0 0 auto;
	transition: transform 0.3s;
}
.scroll-up:hover {
	transform: scale(1.2);
}
.scroll-up::before {
	content: "";
	width: 11px;
	height: 18px;
	background: url("img/arrow-top.png") no-repeat center;
}
@media (max-width: 1200px) {
	html {
		font-size: 12px;
	}
	.container {
		padding: 0 30px;
	}
	.cards {
		justify-content: space-around;
	}
}
@media (max-width: 1010px) {
	.card {
		max-width: none;
		width: 40%;
	}
	.header__menu {
		display: none;
	}
	.form>.flex {
		flex-direction: column;
	}
	.form__input {
		width: 100%;
		margin-bottom: 1rem;
	}
}
@media (max-width: 760px) {
	.header__result {
		font-size: 2.3rem;
	}
	.card {
		width: 60%;
	}
	.footer>.container {
		flex-direction: column;
	}
	.footer__title {
		font-size: 2.7rem;
	}
	.footer__text {
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}
}
@media (max-width: 640px) {
	.conteiner {
		padding: 0 15px;
	}
	.header {
		padding: 1.656rem 0 1.4rem;
	}
	.header__logo {
		width: 5rem;
	}
	.header__number {
		font-size: 1.2rem;
	}
	.header__text {
		font-size: 1rem;
	}
	.header__result {
		font-size: 1.9rem;
	}
	.card {
		width: 100%;
	}
	.goods__sort {
		justify-content: space-between;
		padding-right: 15px;
	}
	.sort__item, .sort__text {
		margin-right: 0;
	}
	.sort__text {
		font-size: 1.1rem;
	}
	.scroll-up {
		margin: 1rem 0 0 auto;
	}
	.button {
		width: 100%;
	}
	.footer {
		padding: 2.5333rem 0 3.133rem;
	}
	.footer>.container {
		padding: 0 30px;
	}
	.footer__title {
		font-size: 2.2rem;
	}
	.footer__text {
		font-size: 1.2rem;
	}
}
@media (max-width: 360px) {
	.header__logo {
		margin-right: 2rem;
	}
	.sort {
		font-size: 0.9rem;
		flex-wrap: wrap;
	}
	.sort__text {
		width: 100%;
		margin-bottom: 1rem;
	}
	.goods__button {
		padding: 1.6rem 2.6rem;
	}
}